---
import Layout from "../layouts/Layout.astro"
import CardPost from "../components/CardPost.astro"
const pathRoot = "/blog.fusoras/post/";
---
<aside transition:name="hero"></aside>
<Layout title="Guias" description="Guias en posts">
    <h1 class="main__title">Guias</h1>
    <CardPost path={`${pathRoot}cambiar-idioma-vscode`}
    title="Cambiar al español el Visual Studio Code" 
    />
    <CardPost path={`${pathRoot}mi-configuracion-vscode`} 
    title="Mi configuracion de Visual Studio Code" 
    />
</Layout>
