---
import Layout from "../layouts/Layout.astro"
import CardPost from "../components/CardPost.astro"
const { frontmatter } = Astro.props;
---

<Layout title="Guias" description="Guias en posts">
    <h1>Guias</h1>
    <CardPost path="/blog.fusoras/post/grid-guia" title="Grid guia explicacion rapida" description=""/>
</Layout>
