---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Guias">
    <h1>Guias</h1>
    <a href="/blog.fusoras/post/grid-guia">Grid guia explicacion rapida</a>
</Layout>
<style>
    a {
        color: #fff;
    }
</style>