---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Blog" description='Blog que contiene guias de diversas cosas y ejercicios de programacion'>
	<h1>Inicio del blog</h1>
	<p>Recopilacion de guias y ejercicio de programacion</p>
</Layout>
