---
import Layout from "../layouts/Layout.astro"
import CardPost from "../components/CardPost.astro"
const pathRoot = "/blog.fusoras/post/";
---

<Layout title="Otros" description="Ejercicios de programacion y otros">
    <h1 class="main__title">Otros</h1>
</Layout>