---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Otros">
    <a href="/blog.fusoras/post/ejercicio-visual-basic">Ejercicios de visual basic Eva 1</a>
</Layout>
<style>
    a {
        color: #fff;
    }
</style>