---
import Layout from "../layouts/Layout.astro"
import CardPost from "../components/CardPost.astro"
---

<Layout title="Otros" description="Ejercicios de programacion y otros">
    <h1>Otros</h1>
    <CardPost path="/blog.fusoras/post/ejercicio-visual-basic" title="Ejercicios de visual basic Eva 1"/>
</Layout>