---
import Layout from "../layouts/Layout.astro"
import Link from "../components/Link.astro"
---

<Layout title="Otros" description="Ejercicios de programacion y otros">
    <h1>Otros</h1>
    <Link ruta="/blog.fusoras/post/ejercicio-visual-basic" contenido="Ejercicios de visual basic Eva 1"/>
</Layout>