---
interface Props {
    path, title, description: string;
}
const {path, title, description} = Astro.props
---
<div>
    <a href={path}>{title}</a>
    <p>{description}</p>
</div>
<style>
    div {
        background-color: #555;
        padding: 10px;
    }
    a {
        color: #fff
    }
    a:visited{
        color: #d3cfce;
    }
</style>