---
interface Props {
    path, title: string;
}
const {path, title} = Astro.props
---
<div>
    <a href={path}>{title}</a>
</div>
<style>
    div {
        background-color: #555;
        padding: 10px;
        margin: 10px 50px;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
    a:hover {
        color: #fff;
        text-decoration: underline;
    }
    a:visited{
        color: #d3cfce;
    }
</style>