<nav>
    <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="/blog.fusoras/index.html">Home</a></li>
        <li class="nav__item"><a class="nav__link" href="/blog.fusoras/guide">Guias</a></li>
        <li class="nav__item"><a class="nav__link" href="/blog.fusoras/other">Otros</a></li>
    </ul>
</nav>
<style>
            .nav__list {
				list-style-type: none;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
			}
			.nav__item {
				margin: 10px;
			}
			.nav__link {
				color: #fff;
				text-decoration: none;
				transition: background-color 200ms;
				padding: 5px 10px;
				border-radius: 5px 10px;
			}
			.nav__link:hover {
				background-color: #fff;
				color: #000;
			}
</style>