---
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={frontmatter.description}>
    <meta name="author" content={frontmatter.author}>
    <title>{frontmatter.title}</title>
</head>
<body>
    <Header />
    <div class="conteiner">
        <h1>{frontmatter.title}</h1>
        <slot/>
    </div>
</body>
<GlobalStyles />
<style>
    .conteiner {
        margin: 0px 100px;
    }
</style>
</html>