---
const { frontmatter } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content={frontmatter.description}>
    <meta name="author" content={frontmatter.author}>
    <title>{frontmatter.title}</title>
</head>
<body>
    <h1>{frontmatter.title}</h1>
    <slot/>
</body>
<style>
    body {
        background-color: #000;
        color: #fff;
    }
</style>
</html>